*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Admin Panel start*/
.container{
    position: relative;
    width: 100%;
}
.panel{
    position: fixed;
    width:200px ;
    height: 100%;
    background-color: white;
    border-left:10px solid rgb(134, 134, 243);
    overflow: hidden;
    transition: 0.5s;
}
.panel ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.panel ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.panel ul li:hover,
.panel ul li.hovered{
    background-color: white;
}
.panel ul li:nth-child(1){
    margin-bottom: 100px;
    pointer-events: none;
}
.panel ul li a{
    display: block;
    display: flex;
    width: 100%;
    position: relative;
    text-decoration: none;
    color: rgb(8, 8, 8); 
}
.panel ul li:hover a,
.panel ul li.hovered a{
    color: blue;
}
.panel ul li a .iconpanel{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    }
.panel ul li a .iconpanel i {
        font-size: 1.75rem;
        }   
.panel ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* curve pointer
.panel ul li:hover a::before,
.panel ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50%;
    background-color: transparent;
    border: 50%;
    box-shadow: 35px 35px 0 10px white ;
    pointer-events:none;
}
.panel ul li:hover a::after,
.panel ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50%;
    background-color: transparent;
    border: 50%;
    box-shadow: 35px -35px 0 10px white ;
    pointer-events:none;
} */

/* Admin Panel end*/
main{
    display: grid; 
    grid-template-rows:auto 550px 900px 550px auto;
}
.mylogo a{
    color: white;
    text-decoration: none;
}
span{
    color: rgb(255, 0, 119)\;
}
#toggle1{
    margin-right: 0;
}
.nav-bar{
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-color: rgb(11, 13, 14);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}
#nav{
    display: flex;
}
#nav li {
list-style: none;
}
#nav li a{
    text-decoration: none;
    color: beige;
    padding-left: 10px; 
    transition: linear 3s;  
}
.nav-links ul li a:hover{
   text-decoration: underline 2px indigo;
}
#toggle-button{
    color: white;
    display: none;
}
.my-profile img{
   border-radius: 50%;
   margin: 100px;
   border: 2px solid wheat;
   object-fit: cover;
}
.home{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 110px;
    background-color: antiquewhite;
}
.home-text h1{
    text-align: center;
    
    text-transform: capitalize;
}
.home-text h4{
    font-size: 18px;
    margin-top: 8px;
}
.home-text p{
    text-align: center;
    margin-top: 50px;
}
.home-text p span{
    color: brown;
    font-weight: bold;
    font-size: 25px;
}
.my-quote{
    text-align: center;
    margin-left: -90px;
    font-size: 14px;
}

.about{
    margin: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#img1{
    width: 40px;
    height: 30px;
    margin-top: 80px;
    border-radius:300px;
    border: solid black 1px;
}
.about h1{
    text-align: center;
    padding: 20px;
}
.about-txt{
    margin-left: 20px;
    margin-top: 20px;
    width:400px;
    font-size: 18px;
    text-align: justify;
}
.about button{
    margin: 30px;
    width: 200px;
    padding: 20px;
    background-color: aqua;
   transition: transform ease-in-out 2s;
}
.about button a{
    text-decoration: none;
    color: black;
}
.about span{
    color: rgb(105, 105, 224);
}
.about span::after{
    content: "👇";
}
.about button:hover{
    transform: translate(10px,-10px);
}
#h1{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    padding: 20px;
}
/* .service{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin: 20px 25px;

}
.services{
    border: 1PX SOLID black;
    padding: 30px;
    height: 280px;   
}
.services img{
    width: 150px;
    margin-top: 20px;
    transition: transform ease-out 2s;
}
.services img:hover{
    transform: rotate(360deg);
}
.portfolio{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
} */

#textarea{
    resize: none;
    max-height: 100px;
    padding: 5px;
}
#portfolio h1{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 30px;
}
.contact-inform{
    display: none;
    background-color: white;
    padding: 30px;
    width: 800px;
    margin: 20px 15%;
    border-radius: 20px;  
}
#close{
    
    height: -40px;
    margin-top: -30px;
    text-align: right;
}

label::after{
    content: "*";
    color: rgb(23, 22, 22);
}
.form-box{
    border: 2px dotted black;
    padding: 30px;
    margin: 20px 15%; 
    border-radius: 10px;
}
.form-field{
    display: flex;
    flex-direction: column
    
}
.form-field input {
    border: none;
    overflow: 0;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(228, 134, 134, 0.4);
}
.form-field label{
    text-align: left;
}
.form-field button{
    padding: 20px;
    background-color: rgb(223, 137, 25, 0.8);
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    margin-bottom: 14px;
}
.btn1{
    margin-top: 10px;
}
.btn1 a{
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    background-color: aqua;
}
.btn2{
    margin-top: 55px;
}
.btn2 a{
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    background-color: aqua;
}
.btn3{
    margin-top: 80px;
}
.btn3 a{
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    background-color: aqua;
}
.btn4{
    margin-top: 20px;
}
.btn4 a{
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    background-color: aqua;
}
.contact{
    
    text-align: center;
    padding: 60px;
    background-color: #666552;
}
#h{
border: 2px solid grey;
background-color: gray;
padding: 20px;
border-radius: 50px;
}
.copyright{
    position: relative;
    position: -webkit-sticky;
    text-align: center;
    /* background-color: rgb(147, 139, 129); */
}


/* blogs */

/* blogs start*/
.blogs-header{
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .blogs-header h1{
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
  
  }
  .blog-content {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: end;
  }
  .image-blog {
  object-fit: cover;
    display: block;
  border: 2px solid gray;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 none;
  background-color: #505555;
  }
  .image-blog  img{
    height: 400px;
    width: 100%;
    object-fit: contain;
  }
  .image-blog  p{
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
  }
  .icons i{
       margin-top: 25px;
       padding: 3px;
       color: white;
       letter-spacing: 2px;
       font-size:10px; 
  }
  .icons,.icon2 {
    text-align: center;
  }
  
  .icon2 i{
    margin-top: 30px;
    padding: 3px;
  color: white;
  letter-spacing: 2px;
  font-size:10px;
  }
  .subscrib-btn{
     padding: 20px 10px;
    color: rgb(83, 7, 189);
    border: solid rgb(255, 56, 212) 4px;
    border-radius: 9rem;
    background: pink;
    font-weight: 900;
    font-size: 20px;
    transition: 0.5s ease;
    letter-spacing: 1px;
  cursor: pointer;
  
  }

  /* signin /signup */
/*  acount section*/
.form {
    padding-top: 20px;
  }
  .form-box {
  
    width: 800px;
   height: 450px;
    background-color: #e87a7a;
    padding: 50px 30px 70px;
    text-align: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(50%,15%);
  /* position: absolute; */
  
  }
  
  .form-box h1 {
    font-size: 30px;
    color: #3a8298;
    position: relative;
    margin-bottom: 60px;
  }
  .form-box h1::after {
    content: "";
    width: 40px;
    height: 5px;
    border-radius: 3px;
    bottom: -12px;
    left: 50%;
    position: absolute;
    background: #3f3c3c;
    transform: translateX(-50%);
  }
  .input-field {
    background-color: #e8dfdf;
    display: flex;
    margin: 15px 0;
    border-radius: 3px;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
  }
  input {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
  }
  .input-field i {
    margin-left: 15px;
    color: #211f1f;
  }
  form p {
    text-align: left;
    font-size: 13px;
  }
  form p a {
    text-decoration: none;
    color: #6bbbd8;
  }
  .btn-field {
    width: 1005;
    justify-content: space-between;
    display: flex;
  }
  .btn-field button {
    flex-basis: 48%;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    background: #3c00a0;
    cursor: pointer;
    transition: background 1s;
  }
  .input-group {
    height: 250px;
  }
  .btn-field button.disable {
    color: #555;
    background: #eaeaea;
    font-size: 18px;
  }
  
  #resetbtn {
    flex-basis: 48%;
    margin-top: 3px;
    color: #fff;
    width: 50px;
    height: 10px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    background: #3c00a0;
    cursor: pointer;
    transition: background 1s;
  }
  .contact-inform{
    display: none;
    background-color: white;
    padding: 30px;
    width: 800px;
    margin: 20px 15%;
    border-radius: 20px;  
}
  #copy {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: black;
    color: white;
  }  
  
  /* responsivenesss */

  @media screen  and (max-width:768px){
    main{
        display: block;
        grid-template-rows:auto;

    }
    .nav-bar{
        position: fixed;
        width: 100%;
    }
    .home{
        display: block;
    }
    .form-box {
        align-items: center;
        margin-bottom: 40px;
        margin-top: 140px;
        justify-content: center;
        width: 100%;
        background-color: #3f3c3c;
      }
    .my-profile img{
   border-radius: 50%;
   margin-top: 40px;
   margin-bottom: 60px;
   border-radius: 50%;
   border: 0;
   overflow: 0;
   object-fit: cover; 
    }
    .home-text h1{
        text-align: center;
        text-transform: capitalize;
    }
   #nav{
        display: none;
        flex-direction: column;
    }
    #nav li{
        margin: 10px 0;
    }
    #nav li a:hover{
      color: rgb(76, 92, 218, 0.5);
    }
    #toggle-button{
        display: flex;
        position: relative;
    }
    .about{
        width: auto;
        padding: 10px;
        margin-top: -30px;
        display: block;
    }
.service{
    text-align: center;
    display: block;
    margin: 20px;
    width: auto;
    align-items: center;

}
.services img{
    width: 40%;
    height: 90%;
    margin-top: 10px;
    
}
.services img:hover{
    transform: rotate(0deg);
}
.blog-content{
    display: block;
}

#nav.activeMenu{
    display: block;
    align-items: end;
}

.btn1,.btn2,.btn3,.btn4{
    display: none;
}
#h{
    font-size: 30px;
}
/* .contact-inform{
    display: none;
    background-color: white;
    padding: 30px;
    width: 400px;
    margin: 10px;
    border-radius: 20px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
} */
.contact-inform h1{
    font-size: 20px;
}
}