.blog__list {
    list-style: none;
    padding: 0;
}

.blog__item {
    background-color: #a42121;
    padding: .4rem ;
    margin-bottom: 5px;
    border-radius: 5px;
}

.blog__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 50%;
}

.blog__description {
    margin-bottom: 10px;
    max-height: 400px;
}

.blog__actions{
    margin: 10px;
    text-align: right;
}
.blog__actions i{
    margin-left: 10px;
    color: #000022;
    font-size: 19px;
    font-weight: 650;
    cursor: pointer;
}
.blog__actions i.delete{
    color: red;
}
.blog__actions a{
    text-decoration: none;
}
.edit i{
    color: green;
}
.view i{
    color: blue;
}
.new-blog__form {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.new-blog__form input,
.new-blog__form textarea,
.new-blog__form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.new-blog__form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#projects-container{
    display: flex;
    flex-wrap: wrap;
    gap: .9rem;
    place-items: center
}
.project-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    height: 420px;
}

.pcard img {
    width: 100%;
    border-radius:0;
    /* margin-bottom: 10px; */
    height: 180px;
    display: block;
    object-fit: cover;
}

.pcard h2 {
    margin: 1rem ;
    text-align: center;
    font-size: 20px;
}

.project-card p {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 5px 10px;
    background-color: var(--secondary-color--);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: se;
}

.pcard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: .8rem .6rem;
    margin-bottom: 20px;
    width: 300px;
    flex: 1 1 auto;
    background-color: var(--primary-color--);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.pcard h2 {
    margin-top: 0;
}

.pcard p {
    margin-bottom: 10px;
    margin-top: 20px;
}

.pcard .actions {
    display: flex;
    justify-content:center;
    align-items: center;
   
}
.data{
    font-style: italic;
    color: #222;
}
.pcard .actions a {
    text-decoration: none;
    color: var(--primary-color--);
    cursor: pointer;
    transition: color 0.3s;
    border-radius: 5px;
}

.pcard .actions a:hover {
    opacity: 0.8;
}

.pcard .actions .delete-btn {
    background-color: #cc0000;
}

.disabled{
    background-color: gray;
    color: #fff;
}
#notify_msg{
    background-color: green;
    display: none;
    text-align: center;
    transition: all .4s;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.3rem;
    color: #fff;
}
/* Smartphone */
@media screen and (max-width: 768px){
    main{
        padding: 0;
    }
div.container{
    display: grid;
    grid-template-columns: 1fr;
}
div.container nav{
    background-color: var(--primary-color--);
    height: auto;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0;
    flex-direction: row;
    display: grid;
    place-items: center;
    position: sticky;
}
nav a{
    grid-template-columns: auto;
}
nav ul{
    display: flex;
    gap: 0;
    width: 100%;
    flex-direction: column;
    display: none;
    padding: 10px;
}
nav li a{
    padding: .4rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
 
}
div.icons{
    display: block;
}
.overview{
    justify-content: center;
    flex-wrap: wrap;
}
.overview__item{
    width: 100%;
}
.home__info{
    grid-template-columns: auto;
}
.activities{
   display: grid;
   grid-template-columns: 1fr;
   gap: 10px;
}
#closeNav{
    display: none;
}
#projects-container{
    grid-template-columns: auto;
}
.blog__container{
    width: 100%;
    padding: 10px;
}
.pcard{
    width: 100%;
}
.new-blog__form{
    padding: 10px;
}
}



@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.blog__image .blog-image {
    max-width: 400px; /* Ensure the image does not exceed its container */
    height: 200px; /* Maintain aspect ratio */
    border-radius: 5px; /* Add rounded corners to the image */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    margin-bottom: 10px; /* Add some spacing between the image and other elements */
}